@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.crates-page {
	&__container {
		@include mixins.page;
	}

	&__default-text {
		font-size: 0.7rem;
		width: 75%;
		color: colors.$black-light;
	}
}
