@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";

.add-album-modal {
	@include mixins.modal;

	&__title,
	&__sub-header {
		width: 100%;
		text-align: left;
		margin-bottom: 1rem;
	}

	&__results {
		@include mixins.scroll-view;
		margin-bottom: 1rem;
	}

	&__sub-header {
		font-weight: 400;
		font-size: 0.75rem;
		margin: 0;
		color: rgba(11, 57, 57, 0.5);
	}
}
