$black: #001919;
$black-light: rgb(36, 36, 36);
$green-main: rgb(11, 57, 57);
$green-mid: rgb(219, 244, 80);
$green-light: #ecf245;
$blue: #001fe9;
$white: #ffffff;
$red: #b50001;
$grey: #575757;
$accent-dark: #136464;
$accent-light: #d1f120;
