@use "../../styles/partials/colors";

.header-icon {
	position: relative;

	&__button {
		fill: colors.$white;

		&--dark {
			fill: colors.$black;
			height: 16px;
		}
	}

	&__menu {
		background-color: colors.$white;
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		width: 9rem;
		right: 4px;
		padding: 0.5rem;
		border-radius: 4px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
	}

	&__option {
		display: flex;
		gap: 0.25rem;
		align-items: center;

		&-text {
			font-size: 14px;
		}
	}
}
