@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.delete-modal {
	@include mixins.modal;

	&__card {
		padding: 1rem;
		height: 30vh;
		align-items: center;
	}

	&__text {
		&--name {
			font-weight: 600;
			color: colors.$green-main;
		}
	}

	&__button-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}
