@use "../../styles/partials/colors";

.item {
	display: flex;
	text-decoration: none;
	align-items: center;
	margin: 1rem 0;
	gap: 0.25rem;

	&__icon {
		height: 40px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__name {
		font-size: 1rem;
		font-weight: 600;
		color: colors.$black;
	}

	&__details {
		font-size: 0.7rem;
		color: colors.$grey;
	}
}
