@use "../../styles/partials/mixins";
@use "../../styles/partials/colors";

.album-modal {
	@include mixins.modal;

	&__card {
		width: 90%;
		height: 90vh;
		padding: 0.5rem;
		align-items: center;
		z-index: 3;
		justify-content: flex-start;
	}

	&__image {
		width: 50%;
	}

	&__metadata {
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
		font-size: 0.6rem;
		font-weight: bold;
		color: colors.$grey;
	}

	&__row {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		gap: 0.5rem;

		&--first {
			margin-top: 0.5rem;
		}
	}

	&__container {
		display: flex;
		width: 100%;
		gap: 1rem;

		&--close {
			justify-content: flex-end;
			margin-bottom: 1rem;
		}
	}

	&__column {
		flex-basis: 50%;
		text-wrap: wrap;

		&--num {
			flex-basis: 7%;
		}
	}

	&__table-header,
	&__tracks {
		width: 85%;
	}

	&__tracks {
		display: flex;
		flex-direction: column;
		gap: 0.9rem;
		overflow-x: auto;
	}

	&__heading {
		margin-bottom: 0.25rem;
		font-size: 0.8rem;
		font-weight: 600;
	}

	&__detail {
		font-size: 10px;
	}
}
