@use "../../styles/partials/colors";

.header {
	background-color: colors.$green-main;
	padding: 1rem;
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;

	&__title {
		color: colors.$white;
		background-color: colors.$green-main;
		font-size: 1.5rem;
		border: none;
		width: 80%;

		&--active {
			border-bottom: 1px colors.$white solid;

			&:focus {
				border: none;
				border-bottom: 2px colors.$accent-light solid;
			}
		}
	}

	&__back {
		fill: colors.$white;
		height: 12px;
	}
}
