@use "../../styles/partials/colors";

.header {
	background-color: colors.$green-main;
	padding: 1rem;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__title {
		color: colors.$white;
		font-size: 1.5rem;
	}
}
