@use "../../styles/partials/mixins";

.sorter-modal {
	@include mixins.modal;

	&__card {
		position: fixed;
		bottom: 3.7rem;
		width: 100%;
		padding: 2rem;
		gap: 0.5rem;
		border-radius: 20px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}
}
