@use "../../styles/partials/colors";

.footer {
	background-color: colors.$black-light;
	color: colors.$white;
	height: 80px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	gap: 3.5rem;
	justify-content: center;

	&__icon {
		height: 75;
		fill: colors.$accent-dark;

		&--active {
			fill: colors.$accent-light;
		}
	}
}
