@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.crate-details-page {
	&__container {
		@include mixins.page;

		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__button {
		border: none;
		background-color: colors.$green-mid;
		font-weight: 600;
		border-radius: 20px;
		padding: 0.5rem;
		margin-top: 1rem;

		&--add {
			color: colors.$green-main;
		}
	}
}
