@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.crate-details-page {
	&--deactivated {
		pointer-events: none;
	}

	&__container {
		@include mixins.page;

		&--cover-image {
			display: flex;
			overflow: hidden;
			width: 200px;
			margin: 0 auto;
		}

		&--edit-overlay {
			border: red 2px dotted;
		}
	}

	&__cover-image {
	}

	&__albums {
		@include mixins.scroll-view;
	}

	&__button-container {
		display: flex;
		gap: 1rem;
	}
}
