@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.crate-details-page {
	&--deactivated {
		pointer-events: none;
	}

	&__container {
		@include mixins.page;
	}

	&__albums {
		@include mixins.scroll-view;
	}

	&__button-container {
		display: flex;
		gap: 1rem;
	}
}
