.item-list {
	&__pinned {
		display: flex;
		overflow-x: scroll;
		flex-wrap: nowrap;
		gap: 1rem;
		padding: 0.25rem;
		height: 12rem;

		&--container {
			flex-shrink: 0;
			flex-basis: 40%;
			height: 6rem;
		}
	}
}
